<ng-container *ngIf="logedUser; else other_content">
    <div class="cart">
        <ng-container *ngIf="cart">
            <div class="products">
                <div class="item-display" id="header">
                    <div class="item">
                        <h1>Number</h1>
                    </div>
                    <div class="item">
                        <h1>Picture</h1>
                    </div>
                    <div class="longer-item">
                        <h1>Name</h1>
                    </div>
                    <div class="item">
                        <h1>Original Price</h1>
                    </div>
                    <div class="item">
                        <h1>Price</h1>
                    </div>
                    <div class="item">
                        <h1>Size</h1>
                    </div>
                    <div class="item">
                    </div>
                </div>
                <ng-container *ngFor="let item of cart; index as i">
                    <div class="item-display" [style.borderBottom]="i+1===cart.length ? '1.0px solid #7c7c7c': ''">
                        <div class="item">
                            <h1>{{i+1}}</h1>
                        </div>
                        <div class="item">
                            <img src="{{item.img}}">
                        </div>
                        <div class="longer-item">
                            <h1>{{item.name}}</h1>
                        </div>
                        <div class="item">
                            <h1>{{item.price}} PLN</h1>
                        </div>
                        <div class="item">
                            <h1>{{item.price-item.discount | number:'1.2'}} PLN</h1>
                        </div>
                        <div class="item">
                            <h1>{{item.size}}</h1>
                        </div>
                        <div class="item">
                            <button (click)="deleteItem(i)"></button>
                        </div>

                    </div>

                </ng-container>
            </div>
        </ng-container>
        <ng-container *ngIf="cart.length===0">
            <div class="one-line-display">
                <div class="one-line">
                    <h1>Your cart is empty</h1>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="cart.length>0">
            <div class="summary">
                <div class="summary-line">
                    <div class="left">
                        PRICE OF PRODUCTS
                    </div>
                    <div class="right">
                        {{price}} PLN
                    </div>
                </div>
                <div class="summary-line">
                    <div class="left">
                        SHIPMENT
                    </div>
                    <div class="right">
                        FREE
                    </div>
                </div>
                <div class="summary-line">
                    <div class="left">
                        ALL COSTS
                    </div>
                    <div class="right">
                        {{price}} PLN
                    </div>
                </div>
                <a routerLink="/makeOrder" routerLinkActive="active" [state]="this.cart">
                    <div class="summary-line"><button>MAKE AN ORDER</button></div>
                </a>
            </div>
        </ng-container>
    </div>
</ng-container>
<ng-template #other_content>
    <div class="one-line-display">
        <div class="one-line">
            <h1>To use cart </h1><a routerLink="/account" routerLinkActive="active">
                <h1 id="link">sign in!</h1>
            </a>
        </div>
    </div>
</ng-template>