<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
</style>

<div class="app">
  <div class='nav-bar'>
    <div class="left">
      <a routerLink="/" routerLinkActive="active">
        <h2>CLOTHES-SHOP</h2>
      </a>
    </div>
    <div class="middle">
      <div class="left">
        <a routerLink="/woman" routerLinkActive="active">
          <div (mouseenter)="hoverFunc('woman')" class="text">
            <h1>WOMAN</h1>
          </div>
        </a>
        <div class="options-woman">
          <ng-container *ngIf="woman">
            <a routerLink="/woman/tops"  routerLinkActive="active"><h1 (click)="closeFunc()">Tops</h1></a>
            <a routerLink="/woman/pants" routerLinkActive="active"><h1 (click)="closeFunc()">Pants</h1></a>
            <a routerLink="/woman/boots" routerLinkActive="active"><h1 (click)="closeFunc()">Boots</h1></a>
          </ng-container>
        </div>
        <a routerLink="/man" routerLinkActive="active">
          <div (mouseenter)="hoverFunc('man')" class="text">
            <h1>MAN</h1>
          </div>
        </a>
        <div class="options-man">
          <ng-container *ngIf="man">
            <a routerLink="/man/tops" routerLinkActive="active"><h1 (click)="closeFunc()">Tops</h1></a>
            <a routerLink="/man/pants" routerLinkActive="active"><h1 (click)="closeFunc()">Pants</h1></a>
            <a routerLink="/man/boots" routerLinkActive="active"><h1 (click)="closeFunc()">Boots</h1></a>
          </ng-container>
        </div>

      </div>
    </div>
    <div class="right">
      <a routerLink="/account" routerLinkActive="active">
        <div (mouseenter)="hoverFunc('ac')" class="text">
          <h1>{{account}}</h1><img src="assets/img/user.png">
        </div>
      </a>
      <div class="options-account">
        <ng-container *ngIf="accountCheck() && ac">
          <a routerLink="/woman/tops"  routerLinkActive="active"><h1 (click)="closeFunc()">ACCOUNT SETTINGS</h1></a>
          <a routerLink="/woman/pants" routerLinkActive="active"><h1 (click)="closeFunc()">MY ORDERS</h1></a>
          <h1 (click)="logout()">SIGN OUT</h1>
        </ng-container>
      </div>
      <img src="assets/img/search.png">
      <a routerLink="/cart" routerLinkActive="active">
        <div class="text">
          <h1>CART</h1>
        </div>
      </a>
    </div>
  </div>


</div>



<router-outlet></router-outlet>