<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
</style>

<div class="app">
  <div class='nav-bar'>
    <div class="left">
      <a routerLink="/" routerLinkActive="active"><h2>CLOTHES-SHOP</h2></a>
    </div>
    <div class="middle">
      <div class="left">
        <a routerLink="/woman" routerLinkActive="active"><div class="text"><h1>WOMAN</h1></div></a>
        <a routerLink="/man" routerLinkActive="active"><div class="text"><h1>MAN</h1></div></a>
        <a routerLink="/girls" routerLinkActive="active"><div class="text"><h1>GIRLS</h1></div></a>
        <a routerLink="/boys" routerLinkActive="active"><div class="text"><h1>BOYS</h1></div></a>
      </div>
    </div>
    <div class="right">
      <a routerLink="/account" routerLinkActive="active"><div class="text"><h1>YOUR ACCOUNT</h1></div></a> 
      <h1>SEARCH</h1>
      <a routerLink="/cart" routerLinkActive="active"><div class="text"><h1>CART</h1></div></a>
    </div>

  </div>
</div>



<router-outlet></router-outlet>