.settings {
  margin-top: 3rem;
  padding-top: 3rem;
  display: flex;
  width: 100vw;
  height: calc(100vh - 3rem);
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #ececec;
}
.settings input {
  border: 0;
  width: 80%;
  height: 1.5rem;
  border: 1px solid #dbdbdb;
  margin-top: 0;
}
.settings p {
  margin-bottom: 0;
}
.settings button {
  height: 3rem;
  background-color: black;
  color: white;
  width: 80%;
  border: 0;
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.settings button:hover {
  cursor: pointer;
}
.settings h1 {
  font-size: 1.2rem;
}
.single-line {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: black;
  margin-bottom: 2rem;
}
.single-line h1 {
  color: white;
  font-size: 1.2rem;
}
.single-line h1:hover {
  cursor: pointer;
}
.item-line {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#selected {
  text-decoration: underline;
}
.settings-display {
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.settings-one-line {
  display: flex;
  align-items: center;
}
.settings-one-line input {
  width: auto;
}
.settings-one-line h1 {
  font-size: 1.2rem;
  border-bottom: 1px solid black;
}
.loading-display {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ece9e6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #ece9e6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.loading-display img {
  height: 1rem;
  width: 1rem;
}
@media screen and (max-width: 400px) {
  .settings-display {
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .settings input {
    width: 100%;
  }
}
@media screen and (max-height: 750px) {
  .settings {
    height: auto;
  }
}
