<div class="choice">
    <ng-container *ngIf="content && loadingFinished && fetchingFinished">
        <div class="offer-menu">
            <div class="single-line">
                <div class="item-line">
                    <a routerLink="/{{gender}}/tops" routerLinkActive="active"><h1 [style.color]="type==='tops' ? 'gray': ''">Tops</h1></a>
                </div>
                <div class="item-line">
                    <a routerLink="/{{gender}}/pants" routerLinkActive="active"><h1 [style.color]="type==='pants' ? 'gray': ''">Pants</h1></a>
                </div>
                <div class="item-line">
                    <a routerLink="/{{gender}}/sweatshirts" routerLinkActive="active"><h1 [style.color]="type==='sweatshirts' ? 'gray': ''">Sweatshirts</h1></a>
                </div>
            </div>
        </div>
        <div class="clothes">
            <ng-container *ngFor="let item of content">
                <a routerLink="/{{gender}}/{{type}}/{{item.id}}" routerLinkActive="active">
                    <div class="cloth">
                        <img src="{{item.img}}">
                        <div class="cloth-text">
                            <h1>{{item.name}}</h1>
                            <div class="one-line">
                                <ng-container *ngIf="item.discount>0">
                                    <h1 id="red">{{item.price-item.discount | number:'1.2'}} PLN</h1>
                                </ng-container>
                                <h1 [style.textDecoration]="item.discount>0? 'line-through': ''">{{item.price}} PLN</h1>
                            </div>
                        </div>

                    </div>
                </a>
            </ng-container>
        </div>
    </ng-container>
    <ng-container *ngIf="!loadingFinished || !fetchingFinished">
        <div class="loading-display">
            <img src="assets/img/load.gif">
        </div>
    </ng-container>
</div>