.offer{
    margin-top:3rem;
}
.offer img{
    height:90vh;
    width:100vw;
}
.offer .ad-text{
    position: absolute;
    top:40%;
    left:35%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    border-radius: 3px;
    width:30rem;
    background-color: rgba(0, 0, 0, 0.377);
}
.ad-text h1{
    font-size: 5rem;
    color:white;
    text-shadow: 1px 1px 10px rgb(85, 85, 85);
    letter-spacing: 10px;
}