.offer{
    width: 100vw;
    height:calc(100vh - 3rem);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-top:3rem;
}
.offer img{
    height:40rem;
    width:60rem;
}
 .ad-text{
    position: absolute;
    top:40%;
    left:35%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    border-radius: 3px;
    width:30rem;
    background-color: rgba(0, 0, 0, 0.377);
}
.ad-text h1{
    font-size: 5rem;
    color:white;
    text-shadow: 1px 1px 10px rgb(85, 85, 85);
    letter-spacing: 10px;
}
.one-line{
    display: flex;
}
.offers{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.single-offer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 12rem;
    height: 20rem;
    margin: 0 2rem;
}
.single-offer img{
    width: 13rem;
    height:15rem;
    margin-bottom: 0.5rem;
    border: 1px solid rgb(228, 228, 228);
}
#red{
    color: rgb(131, 3, 3);
    margin-right: 1rem;
}
.single-offer h1{
    font-size: 1.0rem;
    margin-top: 0;
    margin-bottom: 0;
}