.details {
    margin-top: 3rem;
    width: 100vw;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail {
    width: 50rem;
    height: 33rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-side {
    width:40%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-side {
    width:60%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.detail img {
    height: 25rem;
    width: 20rem;
}
.detail button {
    height: 3rem;
    background-color: black;
    color: white;
    border: 0;
    width:12rem;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.details select{
    width:12rem;
    height: 2rem;
    padding: 0 1rem;
    font-size: 1.2rem;
    border: 1px solid gray;
    margin-bottom: 2rem;
}
.detail button:hover {
    cursor: pointer;
}
.detail h1 {
    font-size: 1.2rem;
}
.one-line{
    display: flex;
}
#link{
    color: rgb(131, 3, 3);
    margin-left: 0.5rem;
}
#link:hover{
    cursor: pointer;
}
