<div class="details">
    <div class="detail">
        <div class="left-side">
            <img src="{{post[id].img}}">

        </div>
        <div class="right-side">
            <h1>{{post[id].name}}</h1>
            <h1>{{post[id].price}}</h1>
            <select [(ngModel)]="size">
                <option value="size">Size</option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
            </select>
            <ng-container *ngIf="logedUser">
                <button (click)="addToCart()">ADD TO CART</button>
            </ng-container>
            <ng-container *ngIf="!logedUser">
                <div class="one-line"><h1>To add item to cart </h1><a routerLink="/account" routerLinkActive="active"><h1 id="link">sign in!</h1></a></div>
            </ng-container>

        </div>

    </div>

</div>