<div class="details" *ngIf="loadingFinished">
    <div class="detail">
        <div class="left-side">
            <img src="{{post[id].img}}">

        </div>
        <div class="right-side">
            <h1>{{post[id].name}}</h1>
            <div class="one-line" >
                <ng-container *ngIf="post[id].discount>0">
                    <h1 id="red">{{post[id].price-post[id].discount | number:'1.2'}} PLN</h1>
                </ng-container>
                <h1 [style.textDecoration]="post[id].discount>0? 'line-through': ''">{{post[id].price}} PLN</h1>
            </div>
            <select [(ngModel)]="size">
                <option value="size">Size</option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
            </select>
            <ng-container *ngIf="!accountCheck()">
                <button (click)="addToCart()">ADD TO CART</button>
            </ng-container>
            <ng-container *ngIf="accountCheck()">
                <div class="one-line">
                    <h1>To add item to cart </h1><a routerLink="/account" routerLinkActive="active">
                        <h1 id="link">sign in!</h1>
                    </a>
                </div>
            </ng-container>

        </div>

    </div>

</div>
<ng-container *ngIf="!loadingFinished">
    <div class="loading-display">
        <img src="assets/img/load.gif">
    </div>
</ng-container>