.details{
    margin-top:3rem;
    width:100vw;
    height:90vh; 
    display: flex;
    justify-content: center;
    align-items: center;   
}
.detail{
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.detail img{
    height:20rem;
    width:15rem;
}
.detail button{
    height:3rem;
    background-color: black;
    color: white;
    border: 0;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.detail button:hover{
    cursor: pointer;
}
