<div class="settings">
    <ng-container *ngIf="logedUser">
        <div class="settings-display">
            <div class="settings-one-line">
                <h1>MY ACCOUNT</h1>
            </div>
            <p>Email*</p>
            <input [(ngModel)]="email">
            <p>Name*</p>
            <input [(ngModel)]="name">
            <p>Surname*</p>
            <input [(ngModel)]="surname">
            <div class="settings-one-line">
                <h1>CHANGING PASSWORD</h1>
            </div>
            <p>Current Passowrd*</p>
            <input [(ngModel)]="currentPassword">
            <p>New Password*</p>
            <input [(ngModel)]="newPassword">
            <p>Confirm New Password*</p>
            <input [(ngModel)]="confirmPassword">
            <button>SAVE CHANGES</button>
        </div>
    </ng-container>
</div>
