<div class="settings" *ngIf="loadingFinished && logedUser">
    <div class="single-line">
        <div class="item-line">
            <a routerLink="/account/settings" routerLinkActive="active">
                <h1 id="selected">Settings</h1>
            </a>
        </div>
        <div class="item-line">
            <a routerLink="/account/orders" routerLinkActive="active">
                <h1>Orders</h1>
            </a>
        </div>
    </div>
    <div class="settings-display">
        <div class="settings-one-line">
            <h1>CHANGING DATA</h1>
            <input type="checkbox" [(ngModel)]="changingData">
        </div>
        <ng-container *ngIf="changingData">
            <p>Email*</p>
            <input [(ngModel)]="email">
            <p>Name*</p>
            <input [(ngModel)]="name">
            <p>Surname*</p>
            <input [(ngModel)]="surname">
        </ng-container>
        <div class="settings-one-line">
            <h1>CHANGING PASSWORD</h1>
            <input type="checkbox" [(ngModel)]="changingPassword">
        </div>
        <ng-container *ngIf="changingPassword">
            <p>Current Passowrd</p>
            <input [(ngModel)]="currentPassword" type="password">
            <p>New Password</p>
            <input [(ngModel)]="newPassword" type="password">
            <p>Confirm New Password</p>
            <input [(ngModel)]="confirmPassword" type="password">
        </ng-container>
        <button (click)="changeData()">SAVE CHANGES</button>
    </div>
</div>
<ng-container *ngIf="!loadingFinished">
    <div class="loading-display">
        <img src="assets/img/load.gif">
    </div>
</ng-container>